{% set python2 = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'python',
        'dev_pkg': 'python-dev',
        'mako_pkg': 'python-mako',
        'pip_pkg': 'python-pip',
        'm2c_pkg': 'python-m2crypto',
    },
    'RedHat': {
        'pkg': 'python',
        'dev_pkg': 'python-devel',
        'mako_pkg': 'python-mako',
        'pip_pkg': 'python-pip',
        'm2c_pkg': 'python-m2ext',
    },
}, merge=salt['pillar.get']('python2:lookup')) %}

{% set python3 = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'python3',
        'dev_pkg': 'python3-dev',
        'mako_pkg': 'python3-mako',
        'pip_pkg': 'python3-pip',
    },
    'RedHat': {
        'pkg': 'python3',
        'dev_pkg': 'python3-devel',
        'mako_pkg': 'python3-mako',
        'pip_pkg': 'python3-pip',
    },
}, merge=salt['pillar.get']('python3:lookup')) %}
